body{
    background: url(8.jpg) repeat;
    display: flex;
    justify-content:center;
    margin-top:5%;
    margin-bottom:5%;
}
.main{
    padding: 40px;
    width: 250px;
    background-color: rgba(143, 189, 234, 0.6);
    border: 2px solid black;
}

h1{
    margin-left: 25%;
    margin-right: 25%;
}

p{
    padding: 5%;
    border: 1px solid black;
    border-radius: 3px;
}
